services:
  w2s:
    container_name: w2s
    image: "w2s:${DOCKER_IMAGE_TAG}"
    volumes:
      - ./assets:/opt/app/assets
      - ./db:/opt/app/db
    environment:
      - SERVER_PORT=8080
      - logging.level.org.springframework.web.servlet.DispatcherServlet=TRACE
      - server.servlet.context-path=/w2s
    networks:
      - webserver
    restart: always

networks:
  webserver:
    name: webserver
    external: true

