<html layout:decorate="~{layout/layout}">
<head>
    <title>Amazon Prime</title>
</head>
<body layout:fragment="content">

<h1>Amazon Prime</h1>
<h2>Inkludiert</h2>
<ul th:each="entry : ${primeIncluded}">
    <li>
        <span th:if="${entry.isRated}">✅</span>
        <a th:text="${entry.name}" th:href="@{'https://www.imdb.com/title/' + ${entry.imdbId}}"></a>
        (<span th:text="${entry.year}"></span>)
        Hinzuzgefügt: <span th:text="${entry.added}"></span>
    </li>
</ul>

<h2>Kaufbar</h2>
<ul th:each="entry : ${primeOthers}">
    <li>
        <span th:if="${entry.isRated}">✅</span>
        <span th:text="${entry.price}"></span>
        <a th:text="${entry.name}" th:href="@{'https://www.imdb.com/title/' + ${entry.imdbId}}"></a>
        (<span th:text="${entry.year}"></span>)
        Hinzuzgefügt: <span th:text="${entry.added}"></span>
    </li>
</ul>

</body>
</html>