<!DOCTYPE html>
<html xmlns:layout="http://java.sun.com/JSP/Page" layout:decorate="~{layout/layout}" lang="de">
<head>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<title>W2s - Status</title>
</head>
<body layout:fragment="content" class="container">

	<div class="pb-2 mt-4 mb-2">
		<h1>W2S</h1>
	</div>
	
	<div class="card">
		<div class="card-header">General Information</div>
		<div class="card-body">
			<p>Version:	<span th:text="${version}"></span></p>
			<p>Server start: <span th:text="${serverStart}"></span></p>
		</div>
	</div>
	
</body>
</html>